@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  @apply bg-black bg-opacity-5 overflow-x-hidden;
}
input {
  @apply focus:outline-none;
}
.form .form-group input {
  @apply bg-[#F0F0EF] p-4 py-3 rounded-md border disabled:opacity-60 disabled:cursor-not-allowed border-black border-opacity-30 w-full placeholder:!text-sm;
}
.form .auth-form-group input {
  @apply bg-white p-3 py-3 rounded-md border border-black border-opacity-30 w-full placeholder:text-black placeholder:text-opacity-70 placeholder:tracking-[0.5px] placeholder:!text-sm;
}

button:disabled {
  @apply !opacity-60 !cursor-not-allowed;
}
/* TEST */
select:focus {
  outline: none;
}
.input-wrap {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.select-wrap {
  position: relative;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  color: rgba(0, 0, 0, 0.5);
}

input:focus {
  outline: none;
}
select:focus {
  outline: none;
}
.input-wrap {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.select-wrap {
  position: relative;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  color: rgba(0, 0, 0, 0.5);
}
input,
select {
  background-color: transparent;
}
input[type='file'] {
  color: transparent !important;
  outline: none;
}
input::file-selector-button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  display: none;
}
::-webkit-datetime-edit-text {
  opacity: 0;
}

input[type='date'] {
  position: relative;
  padding: 10px;
}

input[type='date']::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}

input[type='date']:before {
  color: transparent;
  background: none;
  display: block;
  font-family: 'FontAwesome';
  content: '\f107';
  font-weight: 900;
  width: 15px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 6px;
  color: #00000080;
}
